.popular-packages {
  position: relative;
  grid-area: popular-packages;

  display: grid;
  gap: var(--gap);
  padding-top: 6rem;

  grid-template-columns: 1fr 1fr 1fr 1fr;

  & > .title {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 2rem;
    left: 0;
  }
}
